.App {
  text-align: center;
}

body, html {
  height: 100%;
  margin: 0;
}

.hero-image{
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width :100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5))
}

.hero-image h1{
  font-size: 8em;
  margin-top: 0;
  margin-bottom: 0.5em;
  color: aliceblue;
}

.hero-image p{
  color: white;
  font-size: 1.5em;
  padding: 3em;
}

.heroImage {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1535016120720-40c646be5580?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
  padding: 10em;

}

.heroText {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.heroImage h1{
  font-size: 3em;
  margin-top: 3em;
  margin-bottom: 0.5em;
  color: aliceblue;
}

.heroImage p{
  color: white;
  font-size: 1.5em;
  padding: 3em;
}

.card{
  margin: 5px;
  display: grid;
}

.home-card{
  padding: 5em;
  margin: 1em;
  display: grid;
}

.btnMovie{
  margin: 10px;
}

.btnMovie button{
  margin: 2px;
}

.homePage {
  padding:10em;
  margin:10em
}

.rowHomePage {
  padding:100em;
  margin:100em
}

.btnfav{
  background-color: pink; /* Green */
  border: none;
  color:white;
  padding: 14px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50px
}

.form-control{
  height: 40px;
  display: inline-block;
  text-align: center;
}
